/**
 * CSS files with the .module.css suffix will be treated as CSS modules
 * and scoped locally.

 display flex to center 
 */

.heroBanner {
  padding: 4rem 0;
  text-align: center;
  position: relative;
  overflow: hidden;
}

@media screen and (max-width: 966px) {
  .heroBanner {
    padding: 2rem;
  }
}

.buttons {
  display: left; 
  align-items: left;
  justify-content: center;
}

.testBanner{
  height: 400px;
}

.gals {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 2rem 0;
  text-align: center;

}

.featureGal {
  height: 80%;
  width: 80%;
  border-radius: 5%;
}

.features {
  display: flex;
  align-items: center;
  padding: 2rem 0;
  width: 100%;
}

.featureSvg {
  height: 200px;
  width: 200px;
}


