/* 
global CSS (applies formatting to entire website)

On this page...
- color schemes (infima variables) for light & dark mode
- background colors & fonts (includes recipe markdown page formatting)
*/
:root {
  --ifm-color-primary: #91b691;
  --ifm-color-primary-dark: #7da97d;
  --ifm-color-primary-darker: #74a274;
  --ifm-color-primary-darkest: #5b8a5b;
  --ifm-color-primary-light: #a5c3a5;
  --ifm-color-primary-lighter: #aecaae;
  --ifm-color-primary-lightest: #ccddcc;
  --ifm-code-font-size: 95%;
  background-color: #ccddcc;
  font-family:Georgia, 'Times New Roman', Times, serif;

}

[data-theme='dark'] {
  --ifm-color-primary: #7e7263;
  --ifm-color-primary-dark: #716759;
  --ifm-color-primary-darker: #6b6154;
  --ifm-color-primary-darkest: #585045;
  --ifm-color-primary-light: #8b7d6d;
  --ifm-color-primary-lighter: #908372;
  --ifm-color-primary-lightest: #9f9485;
  background-color: #9f9485;
  font-family:Georgia, 'Times New Roman', Times, serif;
  color: black;
}



